.featureItem {
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.arrow_down,
.arrow_up {
    font-size: 16px !important;
}

.arrow_down {
    color: rgb(253, 91, 91);
}

.arrow_up {
    color: rgb(90, 199, 90);
}